//-- Global Variables

// Vertical Step
$grid-vertical-step:           24px !default;

// Font Family
$font-family-body:            'Raleway', sans-serif;

// Colors
$white:                        #ffffff;
$black:                        #000000;

$gray-darker:                  #0d1116;
$gray-dark:                    #363b3f;
$gray:                         #595959;
$gray-light:                   #ebeced;
$gray-lighter:                 #f8f8f8;

$primary:                      #00d8d3;
$secondary:                    #00a1d6;

$main-gradient: linear-gradient(to right, rgba($primary, .7), rgba($secondary, .7));
$main-gradient-reverse: linear-gradient(to right, rgba($secondary, .7), rgba($primary, .7));

$default-text-color:           $gray-darker;

$border-default-color:         hsla(0, 0%, 100%, .1);
$border-custom-color:          rgba($success, .3);

// Layout
$grid-gutter-width:                           30px;
$column-gutter-width: ceil($grid-gutter-width / 2);

$header-topline-height:                       65px;

//-- Media Breakpoints
$desktop:   		   'screen and (max-width: 1200px)';
$tablet-land:      'screen and (max-width: 991px)';
$tablet-port:    	 'screen and (max-width: 768px)';
$mobile-land:		 	 'screen and (max-width: 576px)';
$mobile-port:		 	 'screen and (max-width: 360px)';
$menu-collapse: 	 $tablet-land;
