//-- Placeholders

// Absolute Alignment Center
%x-y-centering {
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

// Absolute Stretching
%x-y-stretching {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
