//-- Scaffolding ( Some Super Global Styles)

// Body Styles
body {
  background: {
    position: center;
    color: $white;
    repeat: no-repeat;
    size: cover;
  }
}

.container-fluid {
  max-width: 1920px;
  margin: {
    right: auto;
    left: auto;
  }
  padding: {
    right: 15px;
    left: 15px;
  }
}

.container {
  max-width: 1170px;
}

.site-wrapper {
  position: relative;
  width: 100%;
}

@media #{$desktop} {
  .container {
    width: 100% !important;
    max-width: 100% !important;
  }
}
