//-- Global Typography Styles

// Local Variables Section
$font-size-base:               15px !default;
$line-height-base:             1.5 !default;

$font-size-lead:               30px !default;
$font-size-xl:                 18px !default;
$font-size-lg:                 16px !default;
$font-size-md:                 14px !default;
$font-size-sm:                 13px !default;
$font-size-xs:                 12px !default;

$font-size-h1:                 50px !default;
$font-size-h2:                 36px !default;
$font-size-h3:                 18px !default;
$font-size-h4:                 13px !default;
$font-size-h5:                 12px !default;
$font-size-h6:                 10px !default;

$headings-color:               $gray-darker !default;


// Styles Section

// Body
body {
  color: $gray;
  font: {
    family: $font-family-body;
    size: $font-size-base;
  }
  line-height: $line-height-base;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $headings-color;
  font: {
    family: $font-family-body;
    weight: 700;
    style: normal;
  }
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: $line-height-base;

  @media #{$tablet-land} {
    font-size: floor($font-size-h1 * .75);
  }
  @media #{$tablet-port} {
    font-size: floor($font-size-h1 * .6);
  }
  @media #{$mobile-land} {
    font-size: floor($font-size-h1 * .5);
  }
}
h2, .h2 {
  font-size: $font-size-h2;
  line-height: $line-height-base;

  @media #{$tablet-land} {
    font-size: floor($font-size-h2 * .7);
  }
  @media #{$tablet-port} {
    font-size: floor($font-size-h2 * .6);
  }
}
h3, .h3 {
  font-size: $font-size-h3;
  line-height: $line-height-base;

  @media #{$tablet-port} {
    font-size: floor($font-size-h3 * .7);
  }
}
h4, .h4 {
  font-size: $font-size-h4;
  line-height: $line-height-base;

  @media #{$tablet-port} {
    font-size: floor($font-size-h4 * .7);
  }
}
h5, .h5 {
  font-size: $font-size-h5;
  line-height: $line-height-base;

  @media #{$tablet-port} {
    font-size: floor($font-size-h5 * .7);
  }
}
h6, .h6 {
  font-size: $font-size-h6;
  line-height: $line-height-base;

  @media #{$tablet-port} {
    font-size: floor($font-size-h6 * .7);
  }
}

// Body text
p, .p {
  margin: 0 0 $grid-vertical-step;
}
small, .small { font-size: 70%; }

// Text predefined sizes
.text-lead { font-size: $font-size-lead; }
.text-xl { font-size: $font-size-xl; }
.text-lg { font-size: $font-size-lg; }
.text-md { font-size: $font-size-md; }
.text-sm { font-size: $font-size-sm; }
.text-xs { font-size: $font-size-xs; }

// Inline links
a {
  transition: .25s;
  color: $primary;
  text-decoration: underline;
  &:hover {
    color: $secondary;
    text-decoration: none;
  }
  &:focus { outline: none; }
}

ul.bullet-list {
  margin: 0;
  padding-left: 20px;
  list-style: none;
  li {
    position: relative;
    &::before {
      display: block;
      position: absolute;
      top: 6px;
      left: -20px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $primary;
      content: '';
    }
    p {margin-bottom: 20px;}
  }
}
