// -- Colors

// Text
.text-default {color: $default-text-color;}
.text-primary {color: $primary;}
.text-warning {color: $warning;}
.text-success {color: $success;}

// Background
.bg-white {background-color: $white;}
.bg-black {background-color: $black;}

.bg-primary {background-color: $primary;}
.bg-warning {background-color: $warning;}
.bg-success {background-color: $success;}

.bg-gray-lighter {background-color: $gray-lighter;}



// -- Borders
.border         {border: 1px solid transparent;}
.border-primary {border-color: $primary;}
.border-warning {border-color: $warning;}
.border-success {border-color: $success;}
.border-default {border-color: $border-default-color;}



// -- Layout
.img-responsive {
  display: block;
  max-width: 100%;
}
