// -- Local Variables Section

// General
$button-padding-y: 10px !default;
$button-padding-x: 60px !default;

// Default Skin
$button-default-background-color: linear-gradient(to right, $primary, $secondary) !default;
$button-default-background-color-on-hover: linear-gradient(to right, $secondary, $primary) !default;
$button-default-color: $white !default;



// -- Default Styles Section
.btn {
  display: inline-block;
  position: relative;
  padding: $button-padding-y $button-padding-x;
  transform: translateZ(0);
  transition: all .35s;
  border: 0;
  border-radius: 4px;
  outline: none;
  background: {
    color: transparent;
    image: none;
  }
  color: $white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: none;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
  user-select: none;
  @media #{$mobile-land} {
    padding: $button-padding-y floor($button-padding-x * .5);
  }
  // Btn Default
  &.btn-default {
    background: $button-default-background-color;
    color: $button-default-color;
    overflow: hidden;
    z-index: 1;
    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      transition:  width .25s;
      background: $button-default-background-color-on-hover;
      content: '';
      z-index: -1;
    }
    &:hover {
      &::after {width: 100%;}
    }
    &:active {
      transform: scale(1.1);
    }
  }
  // Btn Play
  &.btn-play {
    position: absolute;
    top: 115px;
    right: 185px;
    padding: 0;
    outline: none;
    &:hover {
      transform: scale(1.2);
    }
  }
}
