// -- Local Variables Section



// -- Styles Section
.capital-heading {
  .letter {
    display: inline-block;
    position: relative;
    color: $primary;
    font-weight: 900;
    line-height: 1;
    &::after {
      display: block;
      position: absolute;
      bottom: -3px;
      left: 50%;
      width: 85%;
      height: 4px;
      transform: translateX(-50%);
      background-color: $primary;
      content: '';
    }
  }
}
