// -- Local Variables Section
$text-padding-x: 50px !default;
$text-padding-y: 15px !default;
$text-font-size: 24px !default;
$full-width: 'screen and (max-width: 1536px)' !default;



// -- Styles Section
// Common
.headline-separator {
  position: relative;
  background: {
    position: 50% 50%;
    size: cover;
  }
  z-index: 1;
  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba($primary, .7), rgba($secondary, .7));
    content: '';
    z-index: -1;
  }
  .text-container {
    display: block;
    max-width: 1170px;
    margin: 0 auto;
    padding: 25px 15px;
    .text {
      display: inline-block;
      padding: $text-padding-y $text-padding-x;
      border: 2px solid $white;
      border-radius: 8px;
      color: $white;
      font-size: 24px;
      @media #{$mobile-land} {
        padding: $text-padding-y ceil($text-padding-x / 2);
        font-size: floor($text-font-size * .7);
      }
      @media #{$mobile-port} {
        text-align: center;
      }
    }
  }
  // Large View
  &.headline-separator-large {
    width: 100%;
    min-height: 180px;
    .text-container {
      .text {margin-top: 130px;}
    }
    &:nth-child(n + 1) {background-image: url('../img/headline-image-1.jpg');}
    &:nth-child(2n) {background-image: url('../img/headline-image-5.jpg');}
  }
  // Right & Left Aligment
  &.headline-separator-right,
  &.headline-separator-left {
    max-width: 1537px;
    .text-container {
      .text {margin-top: 60px;}
    }
  }
  // Right Aligment
  &.headline-separator-right {
    margin-left: auto;
    background-image: url('../img/headline-image-2.jpg');
    &::after {
      background: linear-gradient(to right, rgba($secondary, .8), rgba($primary, .7), rgba($primary, .7));
    }
    .text-container {
      margin-left: 0;
      text-align: right;
      @media #{$full-width} {
        margin-left: auto;
      }
    }
  }
  // Left Aligment
  &.headline-separator-left {
    background-image: url('../img/headline-image-3.jpg');
    &::after {
      background: linear-gradient(to right, rgba($primary, .8), rgba($secondary, .7), rgba($secondary, .7));
    }
    .text-container {
      margin-right: 0;
      text-align: left;
      @media #{$full-width} {
        margin-right: auto;
      }
    }
  }
  // Center Aligment
  &.headline-separator-center {
    max-width: 1170px;
    margin: {
      right: auto;
      left: auto;
    }
    background-image: url('../img/headline-image-4.jpg');
    &::after {
      background: linear-gradient(to right, rgba($secondary, .7), rgba($primary, .7));
    }
    @media #{$full-width} {
      max-width: 100%;
      margin: {
        right: 0;
        left: 0;
      }
    }
    .text-container {
      text-align: center;
      .text {margin-top: 60px;}
    }
  }
}
