// -- Local Variables Section
$section-padding-bottom: 120px !default;



// -- Styles Section
.site-content {
  // Screen-section
  .screen {
    padding-top: $section-padding-bottom;
    @media #{$tablet-port} {
      padding-top: ceil($section-padding-bottom / 2);
    }
  }
  .section {
    padding-bottom: $section-padding-bottom;
    @media #{$tablet-port} {
      padding-bottom: ceil($section-padding-bottom / 2);
    }
    .section-text {
      max-width: 880px;
      margin: 0 auto;
      line-height: 1.4;
      text-align: center;
    }
  }
}
// Main Section
.main-screen-section {
  .feature {
    .feature-icon {max-width: 60px;}
    .feature-text {font-size: 13px;}
  }
}
// Second Section
.second-screen-section {
  .collage {
    position: absolute;
    top: 0;
    right: 0;
    @media #{$tablet-land} {
      position: static;
      margin: 0 auto;
    }
  }
}
// Third Section
.third-screen-section {
  .adwice {
    margin-bottom: 140px;
    @media #{$tablet-port} {
      margin-bottom: 70px;
    }
    &:last-child {margin-bottom: 0;}
  }
}
// Fifth Section
.fifth-screen-section {
  .video-mocap {
    position: absolute;
    right: 15px;
    bottom: -250px;
    z-index: 9;
    @media #{$tablet-land} {
      display: none;
    }
  }
}
